@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;  
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --second-bg-color: #e3e8e5; 
    --text-color: #333;
    --main-color: #754ef9;
    --shadow-color: rgba(0, 0, 0, .2);
    --swiper-bg: #fdfdfd;
}

.dark-mode {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --shadow-color: rgba(0, 0, 0, .7);
    --swiper-bg: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.logo-image {
    display: none;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    color: transparent;
    -webkit-text-stroke: 1.3px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
}

.home-content .social-media a:hover {
    color: var(--bg-color);
}

.home-content .social-media a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-content .social-media a:hover::before {
    width: 100%;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    background: var(--main-color);
    border-radius: .8rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}


/* about section design  */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid  var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

/* facilities section design */

.facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.facilities .facilities-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.facilities-row .facilities-column {
    flex: 1 1 40rem;
}

.facilities-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.facilities-column .facilities-box {
    border-left: .2rem solid var(--main-color);
}

.facilities-box .facilities-content {
    position: relative;
    padding-left: 2rem;
}

.facilities-box .facilities-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.facilities-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.facilities-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.facilities-content .content:hover::before {
    width: 100%;
}

.facilities-content .content h3 {
    font-size: 2rem;
}

.facilities-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* Gallery Section Design */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    min-height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.gallery-container a {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Match the border radius */
}

.gallery-container.empty::before {
    content: "No images available";
    text-align: center;
    display: block;
    font-size: 18px;
    color: #999;
    grid-column: 1 / -1; /* Make the text span across the entire grid */
}


/* team section design */

.team {
    background: var(--second-bg-color);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
    
}

.swiper {
    width: 100%;
}

.card-content img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.card {
    position: relative;
    background: var(--swiper-bg);
    border: 3px solid var(--main-color);
    border-radius: 20px;
    box-shadow: 0 .1rem .5rem var(--swiper-bg);
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    clip-path: circle(55% at 0 0);
    border-top-left-radius: 10px;
}

.card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.card .name-position {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
}

.name-position .name {
    font-size: 20px;
    font-weight: 600;
}

.name-position .position {
    font-size: 15px;
    font-weight: 500;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    background: var(--main-color);
    border-radius: 25px;
    position: relative;
}


/* contact section design  */

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
} 

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}


.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/* footer section design  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}


/* breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home-content .text-animate h1 {
        font-size: 2rem;
        position: relative;
    }

    .home-content h3 {
        padding-bottom: 4%;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home-img img {
        display: none;
    }

    .facilities .team {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    .swiper {
        width: 100%;
    }

    .swiper-wrapper {
        flex-direction: row;
    }

    .swiper-slide {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .container {
        padding: 2rem 1rem;
    }
}

@media (max-width: 720px) {

    .header {
        background: var(--bg-color);
    }
    
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 1 25% 20rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 3.5rem;
    }

    .home-content .text-animate h1 {
        font-size: 3rem;
        padding: 10%;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content .text-animate h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home {
        justify-content: center;
        padding: 5 3% 25rem;
        text-align: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo-image {
        display: block;
        width: 100px; /* Adjust size as needed */
        height: 100px; /* Adjust size as needed */
        border-radius: 50%; /* Make it circular */
        margin-bottom: 5rem; /* Add some spacing below the logo */
    }

    .home-content .text-animate h1 {
        font-size: 2.22rem;
    }

    .home .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .home .btn-box .btn {
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}

@media (max-width: 375px) {
    .home {
        justify-content: center;
        padding: 0 2% 30rem;
        text-align: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo-image {
        display: block;
        width: 100px; /* Adjust size as needed */
        height: 100px; /* Adjust size as needed */
        border-radius: 50%; /* Make it circular */
        margin-bottom: 3rem; /* Add some spacing below the logo */
        margin-top: 17rem;
    }

    .home-content .text-animate h1 {
        font-size: 2.22rem;
    }

    .home .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .home .btn-box .btn {
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}



/* extra */

/* General Responsive Styling */

/* @media (max-width: 1024px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .header {
        padding: 2rem 5%;
    }

    .navbar a {
        margin-right: 2rem;
        font-size: 1.5rem;
    }

    .btn-box {
        width: 100%;
        justify-content: center;
    }

    .btn-box .btn {
        width: 80%;
        margin: 1rem 0;
    }

    .home .home-content {
        max-width: 100%;
        text-align: center;
    }

    .home-content .text-animate h1 {
        font-size: 4.5rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }
    
    .about-img {
        width: 20rem;
        height: 20rem;
    }

    .about-content p {
        font-size: 1.4rem;
    }

    .facilities-row .facilities-column {
        flex: 1 1 100%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .navbar a {
        font-size: 1.4rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content .text-animate h1 {
        font-size: 4rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .social-media a {
        margin: 2rem 1rem 2.5rem 0;
    }

    .contact form .textarea-field {
        margin: .8rem 0 1.7rem;
    }

    .footer {
        flex-direction: column;
    }

    .footer-text p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 450px) {
    .home {
        justify-content: center;
        padding: 0 2% 20rem;
        text-align: center;
    }

    .footer {
        padding: 2rem 5%;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .facilities-row {
        gap: 3rem;
    }
}

@media (max-width: 365px) {
    .home-content .text-animate h1 {
        font-size: 3.5rem;
    }

    .about-img {
        width: 18rem;
        height: 18rem;
    }

    .footer-text p {
        font-size: 1.4rem;
    }

    .btn-box .btn {
        width: 90%;
        height: 4rem;
        font-size: 1.6rem;
    }
} */

/* Specific Mobile Adjustments */


/* @media (max-width: 320px) {
    .home-content h3 {
        font-size: 2rem;
    }

    .home-content .text-animate h1 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .about-content h3 {
        font-size: 1.8rem;
    }

    .footer-iconTop a {
        padding: .6rem;
    }

    .footer-iconTop a i {
        font-size: 2rem;
    }
} */